@*@model LopesCorretora.SGCPS.ViewsModels.PesquisaClienteVM*@
@{
    ViewData["Title"] = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h1 class="h1ListaPlanos"> Realizar Cadastro </h1>
        </div>
    </div>
    <div class="centro">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <button type="button" class="btn btn-default" id="btnPessoaFisica">Pessoa Física</button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <button type="button" class="btn btn-default" id="btnPessoaJuridica">Pessoa Jurídica</button>
            </div>
        </div>
    </div>
</div>
