@model LopesCorretora.SGCPS.Models.PlanoMOD

@{
    ViewData["Title"] = "Lista de Planos de Saúde";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h1 class="h1ListaPlanos"> Lista de Planos </h1>
        </div>
    </div>
    <div class="centro">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <h2 class="h2ListaPlanos"> Planos</h2>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <h2 class="h2ListaPlanos"> Telefone </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <p class="pListaPlanos"> UNIMED</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <p class="pListaPlanos"> 800 972 8050</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <p class="pListaPlanos"> Portomed</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <p class="pListaPlanos"> 0800 911 9201 </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <p class="pListaPlanos"> UNIMED</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <p class="pListaPlanos"> 800 972 8050</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <p class="pListaPlanos"> Portomed</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <p class="pListaPlanos"> 0800 911 9201 </p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <button type="button" class="btn btn-default" id="buttonAjuda"> Ajuda ao Corretor </button>
            </div>
        </div>
    </div>
</div>