@*@model IEnumerable<DayAppointments.Appointment>*@

<section class="col-lg-8">
    <h1>Compromissos do dia:</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Horário</th>
                <th>Descrição</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @*@foreach (DayAppointments.Appointment appointment in Model)
                {*@
            <tr>
                <td>12/12/18 12:12</td>
                <td>Cotacao plano UNIMED</td>
                <td><button class="btn btn-sm btn-default">Atualizar</button></td>
                <td><button class="btn btn-sm btn-default">Deletar</button></td>
            </tr>
            <tr>
                <td>12/12/18 12:12</td>
                <td>Visita com cliente Joao</td>
                <td><button class="btn btn-sm btn-default">Atualizar</button></td>
                <td><button class="btn btn-sm btn-default">Deletar</button></td>
            </tr>
            <tr>
                <td>12/12/18 12:12</td>
                <td>Cotacao</td>
                <td><button class="btn btn-sm btn-default">Atualizar</button></td>
                <td><button class="btn btn-sm btn-default">Deletar</button></td>
            </tr>
            <tr>
                <td>12/12/18 12:12</td>
                <td>Alteracao de Plano</td>
                <td><button class="btn btn-sm btn-default">Atualizar</button></td>
                <td><button class="btn btn-sm btn-default">Deletar</button></td>
            </tr>
            <tr>
                <td>12/12/18 12:12</td>
                <td>Enviar orcamento</td>
                <td><button class="btn btn-sm btn-default">Atualizar</button></td>
                <td><button class="btn btn-sm btn-default">Deletar</button></td>
            </tr>
            <tr>
                <td>12/12/18 12:12</td>
                <td>Cotacao</td>
                <td><button class="btn btn-sm btn-default">Atualizar</button></td>
                <td><button class="btn btn-sm btn-default">Deletar</button></td>
            </tr>

            @*}*@
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-12">
            <button id="btnVerTodos" class="btn btn-md btn-default">Ver Todos</button>
        </div>
    </div>
</section>