<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h1 class="h1Financeiro"> Balanço Anual </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h2 class="h2Financeiro"> Relatório </h2>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <table class="table table-responsive" id="tabelaBalancoAnual">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="ColunaBalanco">Receitas</th>
                        <th scope="col" class="ColunaBalanco">Mês</th>
                        <th scope="col" class="ColunaBalanco">Valor</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Telefone</td>
                        <td>janeiro</td>
                        <td>R$200,00</td>
                    </tr>


                    <tr>
                        <td>Clientes</td>
                        <td>fevereiro</td>
                        <td>R$200,00</td>
                    </tr>

                    <tr>
                        <td>Clientes</td>
                        <td>março</td>
                        <td>R$300,00</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td class="tdTotal">Total:</td>
                        <td class="tdTotal">R$700,00</td>
                    </tr>

                </tbody>
            </table>
        </div>

        <div id="actions" class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <button type="button" class="btn btn-default" id="botaoVoltar">Voltar</button>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6">
                <button type="button" class="btn btn-default" id="botaoImprimir">Imprimir</button>
            </div>
        </div>
    </div>
</div>