<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h1 class="h1Financeiro"> Balanço Mensal </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h2 class="h2Financeiro"> Relatório </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <table class="table table-responsive" id="tabelaBalancoMensal">
                <thead class="thead-light">
                    <tr>
                        <th scope="col" class="ColunaBalanco">Cliente</th>
                        <th scope="col" class="ColunaBalanco">Parcela</th>
                        <th scope="col" class="ColunaBalanco">Data da Comissão</th>
                        <th scope="col" class="ColunaBalanco">Valor</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Maria</td>
                        <td>1º</td>
                        <td>01/01/2018</td>
                        <td>R$100,00</td>
                    </tr>

                    <tr>
                        <td>João</td>
                        <td>2º</td>
                        <td>02/02/2018</td>
                        <td>R$200,00</td>
                    </tr>

                    <tr>
                        <td>José</td>
                        <td>3º</td>
                        <td>03/03/2018</td>
                        <td>R$300,00</td>
                    </tr>

                    <tr>
                        <td></td>
                        <td></td>
                        <td class="tdTotal">Total:</td>
                        <td class="tdTotal">R$600,00</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <div id="actions" class="row">
        <div class="col-xs-6 col-sm-6 col-md-6">
            <button type="button" class="btn btn-default" id="botaoVoltar">Voltar</button>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6">
            <button type="button" class="btn btn-default" id="botaoImprimir">Imprimir</button>
        </div>
    </div>
</div>	