@model LopesCorretora.SGCPS.ViewsModels.AlterarPessoaFisicaVM
@{
    ViewData["Title"] = "Controle de Despesas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h1 class="h1FinanceiroControle"> Controle de Despesas </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h2 class="h2FinanceiroControle"> Adicionar Depesas </h2>
        </div>
    </div>
    <div class="despesas">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                    <label for="tipo"> Tipo: </label>
                    <input type="text" name="tipo" id="tipo" class="form-control">
                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group" id="valor">
                    <label for="valor"> Valor: </label>
                    <input type="text" name="valor" id="valor" class="form-control">
                </div>
            </div>
        </div>

        <div class="row" id="buttonAdd">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <button type="button" class="btn btn-default" id="buttonAdd">Adicionar + </button>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h3 class="h3FinanceiroControle">  Despesas </h3>
            </div>
        </div>

        <div class="row" id="TipoDespesa">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <h4 class="h4TipoDespesa">  Tipo </h4>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <h4 class="h4TipoDespesa">  Valor </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <p>Telefone</p>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <p>R$120,00</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6">
                <p>Telefone</p>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6">
                <p>R$120,00</p>
            </div>
        </div>
    </div>
    <div id="actions" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <button type="button" class="btn btn-default" id="ButtonSalvarControle"> Salvar </button>
        </div>
    </div>
</div>