@model LopesCorretora.SGCPS.ViewsModels.AlterarPessoaFisicaVM
@{
    ViewData["Title"] = "Realizar Baixa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <h1 class="h1Financeiro"> Dar Baixa </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-5 col-sm-5 col-md-5">
            <div class="form-group">
                <label for="nome-cliente" id="labelDarBaixa"> Cliente: </label>
                <input type="text" name="nome-cliente" id="nome-cliente" class="form-control">
            </div>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4">
            <div class="form-group">
                <label for="cpf-cliente" id="labelDarBaixa"> CPF: </label>
                <input type="text" name="cpf-cliente" id="cpf-cliente" class="form-control">
            </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3">
            <div class="form-group">
                <label for="numrero-contrato" id="labelDarBaixa"> Número de Contrato: </label>
                <input type="text" name="numrero-contrato" id="numrero-contrato" class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <p id="pDarBaixa"> Qual parcela você deseja dar baixa ?</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <table class="table table-sm" id="tabelaDarBaixa">
                <thead>
                    <tr>
                        <th scope="col" class="ColunaDarBaixa">Parcela</th>
                        <th scope="col" class="ColunaDarBaixa">Valor</th>
                        <th scope="col" class="ColunaDarBaixa">Comissão</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="active">
                        <td>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="Check1">
                                <label class="form-check-label" for="Check1"> 1 de 10 </label>
                            </div>
                        </td>
                        <td class="tdDarBaixa">R$120,00</td>
                        <td class="tdDarBaixa">R$30,00</td>
                    </tr>

                    <tr class="secondary">
                        <td>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="Check2">
                                <label class="form-check-label" for="Check2"> 2 de 10 </label>
                            </div>
                        </td>
                        <td class="tdDarBaixa">R$120,00</td>
                        <td class="tdDarBaixa">R$30,00</td>
                    </tr>

                    <tr class="active">
                        <td>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="Check3">
                                <label class="form-check-label" for="Check3"> 3 de 10 </label>
                            </div>
                        </td>
                        <td class="tdDarBaixa">R$120,00</td>
                        <td class="tdDarBaixa">R$30,00</td>
                    </tr>

                    <tr class="secondary">
                        <td>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="Check4">
                                <label class="form-check-label" for="Check4"> 4 de 10 </label>
                            </div>
                        </td>
                        <td class="tdDarBaixa">R$120,00</td>
                        <td class="tdDarBaixa">R$30,00</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div id="actions" class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <button type="button" class="btn btn-default" id="buttonBaixa"> Dar Baixa </button>
        </div>
    </div>
</div>