<div class="container">
  	
	<div class="row">
    	<div class="col-xs-12 col-sm-12 col-md-12">
    		<div class = "emptySpace"></div>
		</div>
	</div>

  	<div class="row">
    	<div class="col-xs-12 col-sm-12 col-md-12">
			<h1> Acessar Sistema </h1>
		</div>
	</div>

	<div class="row">
    	<div class="col-xs-12 col-sm-12 col-md-12">
			<hr id= "linha"></hr>
		</div>
	</div>

	<div class="row">
    	<div class="col-xs-12 col-sm-12 col-md-12">
			<button type="button" class="btn btn-default" id="BtnGoogle">Google</button>
		</div>
	</div>
</div>


